<div class="flex">
  <div class="centered">
    <form action='/login' method='POST'>
      <input id="user" type='text' name='username' placeholder='Nombre de usuario'><br>
      <input id="pass" type='password' name='password' placeholder='Contraseña'>
      <br><br>
      <button class="btn-login">Entrar</button>
      <% if (typeof errorMessage !== 'undefined') { %>
        <div class='error-message'><%= errorMessage %></div>
        <br><br>
      <% } %>
      <p> ¿No tienes cuenta todavía? <a href='/signup'><b>Regístrate</b></a>
      </p>
    </form>
  </div>
</div>
