<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  <title>MAD'Pool</title>
<body>

<h2>Entra a tu cuenta</h2>

<label for="username">Nombre de usuario</label><br>
<input type="text" name="username" placeholder="Nombre de usuario">
<br><br>
  <br><br>
  <label for="password">Contraseña</label>
  <input type="password" name="password" placeholder="Enter your password here">
  <br><br>
  <% if (typeof errorMessage !== "undefined") { %>
    <div class="error-message"><%= errorMessage %></div>
    <br><br>
  <% } %>
  <button>Entrar</button>

  <p> ¿No tienes cuenta todavía? <a href="/signup">Regístrate</a>
  </p>
</form>


</body>
