<h2>Entra a tu cuenta</h2>
<form action='/login' method='POST'>
  <input type='text' name='username' placeholder='Nombre de usuario'><br>
  <input type='password' name='password' placeholder='Contraseña'>
  <br><br>
  <button>Entrar</button>
  <% if (typeof errorMessage !== 'undefined') { %>
    <div class='error-message'><%= errorMessage %></div>
    <br><br>
  <% } %>
  <p> ¿No tienes cuenta todavía? <a href='/signup'>Regístrate</a>
  </p>
</form>
