<form id="form" action="/signup" method="POST" enctype="multipart/form-data">
  <h2>Crea tu cuenta</h2>

  <label for="username">Name</label><br>
  <input type="text" name="username" placeholder="Username">
  <br><br>

  <label for="password">Password</label><br>
  <input type="password" name="password" placeholder="Password">
  <br><br>

  <p>Nivel Actual: </p>
  <select name="select" size="3">
    <option value="beginner">Principiante</option>
    <option value="intermediate" selected>Intermedio</option>
    <option value="advanced">Avanzado</option>
  </select>
  <br><br>

  <p>Sube tu foto de perfil</p>
    <input type="text" name="name">
    <input type="file" name="photo">
    <input type="submit" value="Save">
  <br><br>

  <button>Create</button>
</form>

<p>¿Ya tienes cuenta? Haz clic <a href="/login">aquí</a></p>
