body {
  margin: 0;
  padding:50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
  background-color: #f6f6f6;
  height: 50px;
  width: 100%;
}

.btn {
  border-radius: 50px;
  padding: 10px 20px;
}

.btn a {
  text-decoration: none;
}
.btn a:focus { outline: none; }

.btn-login { background-color: #78b1f8; }
.btn-login a { color: white; }

.btn-register { background-color: #f6f6f6; }
.btn-register a { color: black; }

li {
  margin-bottom: 10px;
}

button:focus { outline: none }

.center {
  background-color: #f6f6f6;
  width: 80%;
  margin: 2em auto;
  padding: 2em;
}

#map {
 height: 400px;
 width: 100%;
}
