<% if(user) { %>
<div class="usercp" style="margin-top:20px;">
  <div class="cp-edit"><a href='/users/<%= user._id %>/edit'><button id="editProfile" style="border-radius: 50px">Edita tu perfil</button></a></div>
  <div class="cp-logout"><a href='/logout'><button id="logout" style="border-radius: 50px">Cerrar sesión</button></a></div>
</div>
<div class="flex">
  <div class="centered listing">
    <a href='/tournaments/'>
      <div id="mesa-verde" class="visual-option">
        <p>Ver torneos</p>
      </div>
    </a>
    <a href='/users'>
      <div id="mesa-azul" class="visual-option">
        <p>Ver jugadores</p>
      </div>
    </a>
    <a href='/centers'>
      <div id="mesa-roja" class="visual-option">
        <p>Ver centros</p>
      </div>
    </a>
  </div>

</div>
<% } else { %>
  <div class="flex">
    <div class="centered">
        <a href='/login'><button class="btn">Login</button></a>
    </div>
  </div>
<% } %>
