<h2> <%= center.name %> </h2>

name: String,
address: String,
tables: Number,
size: String,
latitude: Number,
longitude: Number,
phone: Number
//timestamps: { createdAt: "created_at", updatedAt: "updated_at" }
});
