<h2>Listado de centros disponibles en la Comunidad de Madrid</h2>

<ul>
  <% result.forEach((center) => { %>
  <li><%= center.name %></li>
  <li><a href="/centers/<%= centers._id %>"> Ir a ver detalles </a></li>
  <% })%>
