/* Generic tags & resets */

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  overflow-x: hidden;
}

h1, h2 {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  padding-top: 1em;
}

nav {
  position: relative;
  background-color: #f6f6f6;
  height: 100px;
  width: 100%;
}

a {
  color: #00B7FF;
}

p {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

li {
  margin-bottom: 10px;
}

button {
  transition: 0.15s background-color ease-in-out;
}

button:focus {
  outline: none
}

input[type="text"], input[type="password"] {
  font-size: 11px;
  padding: 10px;
  width: 100%;
  margin: 5px 0px;
  box-sizing: border-box;
}

input:focus {
  background-color: white;
  outline: none;
}

input[type="submit"], button {
  width: 100%;
  padding: 10px;
  transition: 0.15s background-color ease-in-out;
  border: none;
}

input[type="submit"]:hover, button:hover {
  cursor: pointer;
}

input::-webkit-input-placeholder {
  font-size: 11px;
  color: #c3c3c3 !important;
}

footer {
  height: 50px;
  width: 100%;
  background-color: #0e3809;
  border-top: 2px solid #442912;
  color: rgba(255,255,255,0.6);
  text-align: center;
  font-size: 9px;
  line-height: 5px;
  padding-top: 10px;
}

footer p {
  margin: 1em;
}

/* Repeated */

.background {
  height: auto;
  width: 100vw;
  background-image: url('../images/wooden-background.jpg');
  background-size: cover;
  background-repeat: repeat-y;
  min-height: 100vh;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
}

.centered {
   width: auto;  /* Or whatever */
   height: auto; /* Or whatever */
   margin: auto;  /* Magic! */
}

.sixty {
  width: 60%;
  text-align: center;
}

.orange { background-color: orange }

.btn {
  border: none;
  border-radius: 50px;
  font-size: 13px;
  padding: 15px 50px;
  margin: 10px;
  transition: 0.15s all ease-in-out;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.9;
}

.btn a { text-decoration: none; }
.btn a:focus { outline: none; }

.btn-login { background-color: #6bcb63;}
.btn-login a { color: white; }

.btn-register { background-color: #f6f6f6;}
.btn-register a { color: black; }

/* Login page */

#user {
  background: url('../images/user.png') no-repeat scroll 8px 10px;
  background-color: white;
  padding-left: 30px;
}

#pass {
  background: url('../images/lock.png') no-repeat scroll 8px 10px;
  background-color: white;
  padding-left: 30px;
}

/* Home page */

.user h1 {
  margin-bottom: 1em;
}

.listing {
  text-align: center;
}

.listing a {
  text-decoration: none;
}

.usercp {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  display: inline-block;
  height: 100px;
}

.usercp p, .usercp a {
  display: inline;
}

.visual-option {
  width: 400px;
  height: 221px;
  margin: 2em auto;
  font-weight: bold;
  padding: 96px 0px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 26px;
  box-sizing: border-box;
  transition: 0.15s padding ease-in-out;
}

.visual-option:hover {
  padding: 90px 0px;
}

.visual-option a {
  text-decoration: none;
}

.listing p {
  text-shadow: 0px 0px 5px #414141;
}

#mesa-verde { background-image: url('../images/mesaverde.png') }
#mesa-azul { background-image: url('../images/mesaazul.png') }
#mesa-roja { background-image: url('../images/mesaroja.png') }

#editProfile {
  width: 100px;
  background-color: orange;
  transition: 0.15s background-color ease-in-out;
}

#editProfile:hover {
  background-color: darkorange;
}

#logout {
  width: 100px;
}

#logout:hover {
  background-color: #e6e6e6;
}

/* Users page */

.user {
  display: inline-block;
  background-color: #f6f6f6;
  width: 200px;
  height: 200px;
  margin: 20px;
  color: black;
  text-align: center;
}

.user-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  box-sizing: border-box;
}

.content {
  margin-top: 18px;
}

/* Centers page */

.center {
  background-color: #f6f6f6;
  width: 40%;
  margin: 2em auto;
  padding: 2em;
  color: black;
  position: relative;
  transition: 0.15s box-shadow ease-in-out;
}

.center:hover {
  box-shadow: 0px 0px 41px #262424;
  cursor: pointer;
}

#center-details-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-color: #75d597;
  width: 80px;
  transition: 0.15s background-color ease-in-out;
}

#center-details-button:hover {
  background-color: #52ac72;
}

#map {
 height: 400px;
 width: 90%;
 margin: 1em auto;
 display: block;
}

.filler {
  width: 100%;
  height: 20px;
}

/* tournaments page */
.btn-lookfor{
width: 15%;
padding: 10px;
transition: 0.15s background-color ease-in-out;
border: none;
}

li{
  list-style-type: none;
}

.tourn-list{
  width: 100%;

}


.elements-list{
  margin: 0 auto;
  padding: 11px;
  width: 285px;
  background-color: #F6F6F6;
  color: black;
  text-align: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.details-btn button{
  width: 54%;
  margin: 0 auto 25px;
  background-color: orange;
  transition: 0.15s background-color ease-in-out;
  display: block;
}

.details-btn a {
  text-decoration: none;
}

.details-btn button:hover{
  background-color: #ea7308;
  cursor:pointer;
}

#form-tourn{
  margin-bottom: 20px;
}

#signupselect{
  margin-bottom: 20px;
  width: 338px;
  padding:10px;

}

.threeforty {
  width: 340px;
}

.form-tourn-new{
  width: 270px;
  margin-top:5px;
}

#formfix{
  width: 292px;
  padding: 8px;
}

input[type="number"], input[type="date"] {
  padding: 8px;
}

.levelselect{
padding: 8px;

}

.volver{
  margin-bottom:10px;
  margin-left:-22px;
}

.new{
  margin-left: 20px;
  margin-right:0px;
}
.players{
  vertical-align: center;
  color: white;
  margin-top:10px;
  margin-bottom: 20px;
  position: relative;
}

.part-name{
  position:absolute;
  bottom: 3px;
}

#hecho{
  margin-left: 0px;
  margin-bottom: 0px;
  width: 292px
}

.crea{
  margin-bottom: 10px;

}

#inputname{
  width: 292px
}

#crearbtn{
  margin-left:0px;
}

.push{
  color: orange;
  text-decoration: none;
}
