<div class="flex">
<div class="centered">
<h2>Torneos</h2>

<p> Consulta los torneos disponibles y apúntate! También puedes <a href='/tournaments/new'>crear el tuyo</a> propio</p>

<p><b>Busca torneos con nivel: </b></p>
<form action='/tournaments' method='post'>
  <select name='level'>
    <option value='Principiante'>Principiante</option>
    <option value='Intermediate' selected>Intermedio</option>
    <option value='Avanzado'>Avanzado</option>
  </select>
  <button class="btn btn-lookfor">BUSCAR</button>
</form>

<div class="tourn-list">
<ul>
  <% tournament.forEach((tournament) => { %>
  <li><b><%= tournament.name %></b> - <%= tournament.level %> - <%= tournament.maxParticipants %> players - <a href='/tournaments/detail/<%= tournament._id %>'><button>Detalles</button></a></li>
  <% })%>
</ul>
</div>
</div>
<a href='/home'>Volver</a>
</div>
</div>
