<h2>¡Busca jugadores!</h2>

<ul>
  <% user.forEach((user) => { %>
  <li><b><%= user.username %></b> -<a href="/users/detail/<%= user._id %>">Perfil</a></li><br>
  <% })%>
</ul>
<a href="/home">Volver</a>
