<% if(user) { %>

<div class="usercp">
  <% if(user.avatar !== undefined) { %>
  <img src="/uploads/<%= user.avatar %>" height ="100px" width="100px" style="border-radius: 50%"><br>
  <% } else { %>
  <img src="https://overcomingms.org/forum/styles/ComBoot-phpBB-3.0/theme/images/default_avatar.jpg" height ="100px" width="100px" style="border-radius: 50%"><br>
  <% } %>
  <p>Bienvenido, <%= user.username %></p>
  <a href='/users/<%= user._id %>/edit'><button id="editProfile">Edita tu perfil</button></a><br><br>
  <a href='/logout'><button id="logout">Cerrar sesión</button></a>
</div>

<div class="flex">
  <div class="centered listing">
    <a href='/tournaments/'><div class="visual-option">Ver torneos</div></a>
    <a href='/users'><div class="visual-option">Ver jugadores</div></a>
    <a href='/centers'><div class="visual-option">Ver centros</div></a>
  </div>

</div>
<% } else { %>
  <div class="flex">
    <div class="centered">
      <div class="user">
        <a href='/login'><button class="btn">Login</button></a>
      </div>
    </div>
  </div>
<% } %>
