<% if(user) { %>
  <h1>Bienvenido <%= user.username %></h1>
  <a href="/tournaments/">Ver torneos</a> - <a href="/users">Ver jugadores</a> - <a href="/centers">Ver centros</a><br><br>
  <a href="/users/<%= user._id %>/edit">Edita tu perfil</a><br><br>
  <a href="/logout">Cerrar sesión</a>

<% } else { %>
  <a href="/login">Login</a>

<% } %>
