<h1><%= title %></h1>
<p><%= title %></p>

<button class="btn btn-login">Login</button>
<button class="btn btn-register">Register</button>

<!-- Logo
Breve descripción
Opciones de Log-in y Sign-up -->
