<h2>Torneos</h2>

<p> Consulta los torneos disponibles y apúntate! También puedes <a href="/tournaments/new">crear el tuyo</a> propio</p>

<ul>
  <% tournament.forEach((tournament) => { %>
  <li><b><%= tournament.name %></b> - <%= tournament.level %> - <%= tournament.maxParticipants %> players - <a href="/tournaments/detail/<%= tournament._id %>"><button>Detalles</button></a></li>
  <% })%>
</ul>

<a href="/home">Volver</a>
