<h2>Torneos</h2>

<p> Consulta los torneos disponibles y apúntate! </p> <br>

<ul>
  <% result.forEach((tournament) => { %>
  <li><b><%= tournament.name %></b></li><br>
  <li><a href="/tournaments/<%= tournaments._id %>"> Detalles del torneo</a></li><br>
  <li><%= tournament.level %></li>
</ul>
  <% })%>

<a href="./home">Volver</a>
